@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');


.forecast-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-summary__date {
    font-size: larger;
}

.forecast-summary__icon {
    padding-top: 5px;
    font-size: 35px;
}

.forecast-summary__button {
    font-family: 'Fredoka', sans-serif;
    background-color: transparent;
    padding-top: 6px;
    overflow: hidden;
    font-size: 25px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}